<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style_hospitallist.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <nav>
        <figure>
            <a href="index.html"><img src="../images/Logo.jpg"></a>
        </figure>
            <div class="menubar">
                <i class="fa fa-bars" aria-hidden="true" onclick="menu()" id="bars"></i>
                <ul class="nav_bar" id="nav_bar">
                <li><a href="doctorlist.html">Doctor</a></li>
                <li><a href="hospitallist.html">Hospitals</a></li>
                <ul class="treatment_menu">
                    <li><a>Treatment</a></li>
                    <ul class="treatments">
                        <li><a href="Dentistry.html">Dentistry</a></li>
                        <li><a href="Dentistry.html">Cardiology</a></li>
                        <li><a href="Dentistry.html">Cancer</a></li>
                        <li><a href="Dentistry.html">Multiorgan</a></li>
                        <li><a href="Dentistry.html">Orthopedic</a></li>
                        <li><a href="Dentistry.html">Infertility</a></li>
                    </ul>
                </ul>
                <li><a href="#exclusiveservice">Other Services</a></li>
                <li><a href="aboutus.html">About</a></li>
                </ul>
            </div>
        <div class="header_buttons">
            <button class="tertiarybutton" onclick="location.href='login.html';">Login / Sign Up</button>
            <button class="primarybutton">Get a Quote</button>
        </div>
    </nav>
        <figure class="groupdoctor">
            <div class="blue">
                <h1>Cardiac Surgeon in <span>Delhi</span></h1>
            </div>
        </figure>

    <section class="heading">
        <h3>Home/Doctor List</h3>
        <select name="features">
            <option>Sort by</option>
            <option value="Experience">Experience</option>
            <option value="Ratings">Ratings</option>
            <option value="Alphabetically">Alphabetically</option>
        </select>
    </section>
    <section class="various_hospitals">
        <div class="left_container">
            <h5>Filter By</h5>
            <div class="filters">
                <div class="filter_heading">
                    <h5>Location</h5>
                    <div><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <div class="filter_subheading">
                    <div><input type="checkbox"><label>DLF Cyber City</label></div>
                    <div><input type="checkbox"><label>Dwarka</label></div>
                    <div><input type="checkbox"><label>Lajpat Nagar</label></div>
                    <div><input type="checkbox"><label>Palaam Bihar</label></div>
                    <div><input type="checkbox"><label>Punjabi Baag</label></div>
                    <div><input type="checkbox"><label>Pusa Road</label></div>
                    <button class="showmore">+ Show More</button>
                </div>
            </div>
            <div class="filters">
                <div class="filter_heading">
                    <h5>Hospitals</h5>
                    <div><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <div class="filter_subheading">
                    <div><input type="checkbox"><label>Apollo Hospital</label></div>
                    <div><input type="checkbox"><label>Manipal North Side Hospital</label></div>
                    <div><input type="checkbox"><label>Northstar</label></div>
                    <div><input type="checkbox"><label>AIIMS</label></div>
                    <div><input type="checkbox"><label>Fortis Hospitals</label></div>
                    <div><input type="checkbox"><label>Elbit Diagonistics</label></div>
                    <button class="showmore">+ Show More</button>
                </div>
            </div>
            <div class="filters">
                <div class="filter_heading">
                    <h5>Treatment</h5>
                    <div><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <div class="filter_subheading">
                    <div><input type="checkbox"><label>Multi Organ Transplant</label></div>
                    <div><input type="checkbox"><label>Orthopedic Surgery</label></div>
                    <div><input type="checkbox"><label>Infertility Treatment</label></div>
                    <div><input type="checkbox"><label>Dentistry</label></div>
                    <div><input type="checkbox"><label>Cardiology</label></div>
                    <div><input type="checkbox"><label>Cancer</label></div>
                    <button class="showmore">+ Show More</button>
                </div>
            </div>
            <div class="filters">
                <div class="filter_heading">
                    <h5>Years of Experience</h5>
                    <div><i class="fa fa-search" aria-hidden="true"></i></div>
                </div>
                <div class="filter_subheading">
                    <div><input type="checkbox"><label>30+</label></div>
                    <div><input type="checkbox"><label>25+</label></div>
                    <div><input type="checkbox"><label>20+</label></div>
                    <div><input type="checkbox"><label>15+</label></div>
                    <div><input type="checkbox"><label>10+</label></div>
                    <div><input type="checkbox"><label>5+</label></div>
                    <button class="showmore">+ Show More</button>
                </div>
            </div>
        </div>
        <div class="right_container">
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Deep Chandra Verma</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/DukeSanson.jpg">
                </figure>
            </div>
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Charlie Moon</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/CharlieMoon.jpg">
                </figure>
            </div>
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Rose Moon</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/RoseMoon.jpg">
                </figure>
            </div>
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Georgea Peter</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/GeorgeaPeter.jpg">
                </figure>
            </div>
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Deep Chandra Verma</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/DukeSanson.jpg">
                </figure>
            </div>
            <div class="card">
                <div class="info">
                    <a href="doctorprofile.html"><h3>Charlie Moon</h3></a>
                    <ul class="personal_info">
                        <li class="expertise">abc</li>
                        <li class="degree">abc</li>
                        <li class="clock">abc</li>
                        <li class="building">abc</li>
                        <li class="location">abc</li>
                    </ul>
                </div>
                <div class="button_container">
                    <button class="primarybutton" onclick="location.href='bookappointment.html';">Book an appointment</button>
                </div>
                <figure>
                    <img src="../images/CharlieMoon.jpg">
                </figure>
            </div>
        </div>
    </section>
    <section class="Need_help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will be happy to assist you</p>
        </div>
        <button class="secondarybutton" onclick="location.href='submitquery.html'">Submit your enquiry</button>
    </section>
    <footer>
        <section class="footerinfo">
            <div class="links_icon">
                <img src="../images/footer.png" width="40%">
                <div class="links">
                    <a href="doctorlist.html"><li>Doctor</li></a>
                    <a href="hospitallist.html"><li>Hospital</li>
                    <a href="contactus.html"><li>Contact Us</li>
                    <a href="#exclusiveservice"><li>Other services</li></a>
                    <a href="FAQ.html"><li>FAQs</li></a>
                </div>
            </div>
            <div class="social_links_and_copywright">
                <div class="social_links">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <h6>All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018</h6>
            </div>
        </section>
    </footer>
    <script>
        function menu(){
            const nav=document.getElementById("nav_bar");
            if(nav.style.display=="none")
            {
                nav.style.display="block";
            }
            else
            {
                nav.style.display="none";
            }
        }
    </script>
</body>
</html>