<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/theme.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style_login.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
    <nav>
        <figure>
            <a href="../index.html"><img src="../images/Logo.jpg"></a>
        </figure>
            <div class="menubar">
                <i class="fa fa-bars" aria-hidden="true" onclick="menu()" id="bars"></i>
                <ul class="nav_bar" id="nav_bar">
                <li><a href="doctorlist.html">Doctor</a></li>
                <li><a href="hospitallist.html">Hospitals</a></li>
                <ul class="treatment_menu">
                    <li><a>Treatment</a></li>
                    <ul class="treatments">
                        <li><a href="Dentistry.html">Dentistry</a></li>
                        <li><a href="Dentistry.html">Cardiology</a></li>
                        <li><a href="Dentistry.html">Cancer</a></li>
                        <li><a href="Dentistry.html">Multiorgan</a></li>
                        <li><a href="Dentistry.html">Orthopedic</a></li>
                        <li><a href="Dentistry.html">Infertility</a></li>
                    </ul>
                </ul>
                <li><a href="#exclusiveservice">Other Services</a></li>
                <li><a href="aboutus.html">About</a></li>
                </ul>
            </div>
        <div class="header_buttons">
            <button class="tertiarybutton" onclick="location.href='login.html';">Login / Sign Up</button>
            <button class="primarybutton">Get a Quote</button>
        </div>
    </nav>
    <main>
        <section class="login_container">
            <div class="heading">
                <h3>Book an Appointment</h3>
            </div>
            <div class="formcontainer">
                <form class="appointmentform">

                    <label>Select Appointment Date*</label>
                    <input type="date" class="grey">
                    
                    <label>Time Interval*</label>
                    <div class="radio_container">
                        <div class="radio"><input type="radio" name="Time Interval" value="Morning"><label>Morning</label></div>
                        <div class="radio"><input type="radio" name="Time Interval" value="Afternoon"><label>Afternoon</label></div>
                        <div class="radio"><input type="radio" name="Time Interval" value="Evening"><label>Evening</label></div>
                    </div>
                    
                    <label>Appointment Status / Urgency*</label>
                    <div class="radio_container">
                        <div class="radio"><input type="radio" name="Appointment Status" value="Routine"><label>Routine Check-up</label></div>
                        <div class="radio"><input type="radio" name="Appointment Status" value="Non-urgent"><label>Non-urgent Check-up</label></div>
                        <div class="radio"><input type="radio" name="Appointment Status" value="Urgent"><label>Urgent Check-up</label></div>
                        <div class="radio"><input type="radio" name="Appointment Status" value="Surgical"><label>Surgical Check-up</label></div>
                    </div>
                    
                    <label>Upload Previous Health Record</label>
                    <div class="button_container"><button>Choose File</button><span>No File Choosen</span></div>

                    <label>Appointment Details</label>
                    <textarea></textarea>

                    <button class="primarybutton">BOOK APPOINTMENT</button>

                </form>
            </div>
        </section>
    </main>
    <footer>
        <h6>All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018</h6>
    </footer>
    <script>
        function menu(){
            const nav=document.getElementById("nav_bar");
            if(nav.style.display=="none")
            {
                nav.style.display="block";
            }
            else
            {
                nav.style.display="none";
            }
        }
    </script>
</body>
</html>