<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style_doctorprofile.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <nav>
        <figure>
            <a href="../index.html"><img src="../images/Logo.jpg"></a>
        </figure>
            <div class="menubar">
                <i class="fa fa-bars" aria-hidden="true" onclick="menu()" id="bars"></i>
                <ul class="nav_bar" id="nav_bar">
                <li><a href="doctorlist.html">Doctor</a></li>
                <li><a href="hospitallist.html">Hospitals</a></li>
                <ul class="treatment_menu">
                    <li><a>Treatment</a></li>
                    <ul class="treatments">
                        <li><a href="Dentistry.html">Dentistry</a></li>
                        <li><a href="Dentistry.html">Cardiology</a></li>
                        <li><a href="Dentistry.html">Cancer</a></li>
                        <li><a href="Dentistry.html">Multiorgan</a></li>
                        <li><a href="Dentistry.html">Orthopedic</a></li>
                        <li><a href="Dentistry.html">Infertility</a></li>
                    </ul>
                </ul>
                <li><a href="#exclusiveservice">Other Services</a></li>
                <li><a href="aboutus.html">About</a></li>
                </ul>
            </div>
        <div class="header_buttons">
            <button class="tertiarybutton" onclick="location.href='login.html';">Login / Sign Up</button>
            <button class="primarybutton">Get a Quote</button>
        </div>
    </nav>
    <figure class="profile_back">
        <div class="content">
            <h1>FAQ</h1>
            <h6>Home / FAQ</h6>
        </div>
    </figure>
    <section>
            <ul class="faq list without_border without_icons">
                <li>How do I make payments?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>
                </i>
                </button></li>
                <li>There is not enough money in my Portea wallet for making a payment. What do I do?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>
                </i>
                </button></li>
                
                <li>Can I transfer the balance of my Portea wallet to another user?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>

                </button></li>
                <li>Is Portea money same as Portea wallet?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>

                </button></li>
                <li>Refund<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>

                </button></li>
                <li>What is a Family ID?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>

                </button></li>
                <li>Who can be added as Family?<button class="arrowbutton"><i class="fa fa-chevron-up" aria-hidden="true"></i>

                </button></li>
            </ul>
    </section>
    <section class="Need_help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will be happy to assist you</p>
        </div>
        <button class="secondarybutton" onclick="location.href='submitquery.html'">Submit your enquiry</button>
    </section>
    <footer>
        <section class="footerinfo">
            <div class="links_icon">
                <img src="../images/footer.png" width="40%">
                <div class="links">
                    <a href="doctorlist.html"><li>Doctor</li></a>
                    <a href="hospitallist.html"><li>Hospital</li>
                    <a href="contactus.html"><li>Contact Us</li>
                    <a href="#exclusiveservice"><li>Other services</li></a>
                    <a href="FAQ.html"><li>FAQs</li></a>
                </div>
            </div>
            <div class="social_links_and_copywright">
                <div class="social_links">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <h6>All Rights Reserved. <i class="fa fa-copyright" aria-hidden="true"></i> tvastra 2018</h6>
            </div>
        </section>
    </footer>
    <script>
        function menu(){
            const nav=document.getElementById("nav_bar");
            if(nav.style.display=="none")
            {
                nav.style.display="block";
            }
            else
            {
                nav.style.display="none";
            }
        }
    </script>
</body>
</html>