.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0;
}

.groupdoctor, .hospitalbackground {
  display: none;
}

.various_hospitals {
  padding-bottom: 1rem;
}

.various_hospitals .card {
  border: 1px solid var(--grey);
  margin-bottom: 1rem;
}

.various_hospitals .card .info {
  padding: 1rem 2.5rem;
}

.various_hospitals .card .info h3 {
  color: var(--blue);
  position: relative;
  margin-bottom: 1.5rem;
}

.various_hospitals .card .info h3::before {
  content: '';
  position: absolute;
  left: -2.5rem;
  top: 0.5rem;
  height: 0.15rem;
  width: 2rem;
  background-color: var(--blue);
}

.various_hospitals .card .info .personal_info li {
  color: var(--black);
  position: relative;
  font-family: "fontawesome",'arial';
  margin-top: 0.8rem;
}

.various_hospitals .card .info .personal_info li:before {
  position: absolute;
  left: -1.5rem;
  top: 0rem;
  color: var(--blue);
}

.various_hospitals .card .info .personal_info .location::before {
  content: '\f041';
}

.various_hospitals .card .info .personal_info .bed::before {
  content: '\f236 ';
}

.various_hospitals .card .info .personal_info .famous_treatment::before {
  content: '\f0f1 ';
}

.various_hospitals .card .info .personal_info .expertise::before {
  content: '\f0a3 ';
}

.various_hospitals .card .info .personal_info .degree::before {
  content: '\f19d ';
}

.various_hospitals .card .info .personal_info .clock::before {
  content: '\f017 ';
}

.various_hospitals .card .info .personal_info .building::before {
  content: '\f0f8 ';
}

.various_hospitals .card .info .hospital_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0.4rem;
}

.various_hospitals .card .info .hospital_features li {
  padding: 0.5rem 0.8rem;
  color: var(--darkgrey);
  border: 1px solid var(--grey);
  border-radius: 2rem;
  font-family: "arial";
  letter-spacing: 0.02rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.various_hospitals .card .button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.various_hospitals .card figure {
  margin-top: 1rem;
  height: 21.5rem;
  overflow: hidden;
}

.various_hospitals .card figure img {
  width: 100%;
}

.various_hospitals .card button {
  padding: 0.4rem 1.5rem;
}

.various_hospitals .hospital figure {
  margin-top: 1rem;
  height: 11rem;
  overflow: hidden;
}

.various_hospitals .hospital figure img {
  width: 100%;
}

.various_hospitals .left_container, .various_hospitals .left_container_hospital {
  display: none;
}

@media only screen and (min-width: 768px) {
  .showmore {
    padding: 0;
    color: var(--blue);
    background: none;
    border: none;
    text-align: left;
    margin-top: 1rem;
  }
  .heading {
    padding-top: 2rem;
  }
  .groupdoctor {
    display: block;
    background-image: url("../images/doctor_team.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .groupdoctor .blue {
    background-color: rgba(143, 202, 241, 0.7);
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.6rem;
  }
  .groupdoctor .blue h1 {
    color: var(--black);
  }
  .groupdoctor .blue h1 span {
    color: var(--black);
    text-decoration: underline;
  }
  .hospitalbackground {
    display: none;
  }
  .various_hospitals {
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .various_hospitals .left_container, .various_hospitals .left_container_hospital {
    display: block;
    width: 20%;
    padding-right: 1rem;
  }
  .various_hospitals .left_container h5, .various_hospitals .left_container_hospital h5 {
    background-color: var(--lightgrey);
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .various_hospitals .left_container label, .various_hospitals .left_container_hospital label {
    font-size: 0.7rem;
  }
  .various_hospitals .left_container .filters, .various_hospitals .left_container_hospital .filters {
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--grey);
    margin-bottom: 2rem;
  }
  .various_hospitals .left_container .filters .filter_heading, .various_hospitals .left_container_hospital .filters .filter_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .various_hospitals .left_container .filters .filter_heading h5, .various_hospitals .left_container_hospital .filters .filter_heading h5 {
    padding: 0;
    background: none;
    margin-bottom: 1rem;
    font-family: "nexa-light";
  }
  .various_hospitals .left_container .filters .filter_heading i, .various_hospitals .left_container_hospital .filters .filter_heading i {
    position: relative;
    padding-right: 1.8rem;
    color: var(--blue);
  }
  .various_hospitals .left_container .filters .filter_heading i::after, .various_hospitals .left_container_hospital .filters .filter_heading i::after {
    content: '';
    background-color: var(--grey);
    width: 1rem;
    height: 0.2rem;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
  }
  .various_hospitals .left_container .filters .filter_subheading, .various_hospitals .left_container_hospital .filters .filter_subheading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .various_hospitals .left_container .filters .filter_subheading label, .various_hospitals .left_container_hospital .filters .filter_subheading label {
    margin-left: 1rem;
    font-family: "nexa-light";
  }
  .various_hospitals .left_container .filters .filter_subheading div, .various_hospitals .left_container_hospital .filters .filter_subheading div {
    margin-bottom: 0.3rem;
  }
  .various_hospitals .right_container, .various_hospitals .right_container_hospital {
    width: 70%;
  }
  .various_hospitals .right_container .card, .various_hospitals .right_container_hospital .card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 3fr 0.5fr;
        grid-template-rows: 3fr 0.5fr;
    -ms-grid-columns: 3fr 2fr;
        grid-template-columns: 3fr 2fr;
    margin-bottom: 1.5rem;
  }
  .various_hospitals .right_container .card .info, .various_hospitals .right_container_hospital .card .info {
    padding: 1rem 2.5rem;
    padding-right: 0;
    margin-bottom: 0.5rem;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
  }
  .various_hospitals .right_container .card .info .personal_info, .various_hospitals .right_container_hospital .card .info .personal_info {
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
  }
  .various_hospitals .right_container .card .info .personal_info li, .various_hospitals .right_container_hospital .card .info .personal_info li {
    margin-top: 0rem;
  }
  .various_hospitals .right_container .card .info .personal_info li:before, .various_hospitals .right_container_hospital .card .info .personal_info li:before {
    position: absolute;
    left: -1.5rem;
    top: 0rem;
  }
  .various_hospitals .right_container .card .info .hospital_features, .various_hospitals .right_container_hospital .card .info .hospital_features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1.1rem;
  }
  .various_hospitals .right_container .card .info .hospital_features li, .various_hospitals .right_container_hospital .card .info .hospital_features li {
    padding: 0.5rem 0.8rem;
    color: var(--darkgrey);
    border: 1px solid var(--grey);
    border-radius: 2rem;
    font-family: "arial";
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
  }
  .various_hospitals .right_container .card .button_container, .various_hospitals .right_container_hospital .card .button_container {
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-grid-column: 1;
    grid-column: 1/1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
  .various_hospitals .right_container .card figure, .various_hospitals .right_container_hospital .card figure {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    grid-column: 2/2;
    margin-top: 0;
    height: 14rem;
  }
  .various_hospitals .right_container .card figure img, .various_hospitals .right_container_hospital .card figure img {
    width: 100%;
    height: 100%;
  }
  .various_hospitals .right_container .card .hospitalfigure, .various_hospitals .right_container_hospital .card .hospitalfigure {
    height: 100%;
  }
  .various_hospitals .right_container .card button, .various_hospitals .right_container_hospital .card button {
    padding: 0.4rem 2rem;
  }
  .various_hospitals .right_container .hospital, .various_hospitals .right_container_hospital .hospital {
    width: 100%;
  }
  .various_hospitals .right_container_hospital {
    width: 100%;
  }
  .various_hospitals .left_container_hospital {
    display: none;
  }
  .various_hospitals .left_container {
    width: 30%;
  }
}

@media only screen and (min-width: 1025px) {
  .groupdoctor, .hospitalbackground {
    display: block;
    background-image: url("../images/doctor_team.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  .groupdoctor .blue, .hospitalbackground .blue {
    background-color: rgba(143, 202, 241, 0.7);
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5rem;
  }
  .groupdoctor .blue h1, .hospitalbackground .blue h1 {
    color: var(--black);
  }
  .groupdoctor .blue h1 span, .hospitalbackground .blue h1 span {
    color: var(--black);
    text-decoration: underline;
  }
  .various_hospitals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .various_hospitals .right_container .card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .various_hospitals .right_container .card figure {
    height: 14rem;
    width: 14rem;
  }
  .various_hospitals .right_container_hospital, .various_hospitals .right_container {
    width: 70%;
  }
  .various_hospitals .right_container .card {
    -ms-grid-columns: 3fr 1fr;
        grid-template-columns: 3fr 1fr;
  }
  .various_hospitals .left_container_hospital, .various_hospitals .left_container {
    display: block;
    width: 30%;
    margin-right: 2rem;
  }
  .various_hospitals .left_container_hospital label, .various_hospitals .left_container label {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style_hospitallist.css.map */